jstor_add_links
multiple_crawl
proper_files
result_files
volume_files
final_files
article_links
review_links
different_files
final_additional_information
*.xml
!example.xml
!marcxml_empty.xml
*.csv
*.json
*.out
!present_records.json
get_records.py
zotero_harvester_header.conf
add_001_to_excluded_records.py
create_missing_record_file.py
create_records_from_dict.py
get_different_records.py
get_excluded_records.py
get_general_exclusion_regexes.py
