jstor_add_links
multiple_crawl
proper_files
result_files
volume_files
final_files
article_links
review_links
different_files
final_additional_information
*.xml
!example.xml
!marcxml_empty.xml
*.csv
*.json
*.out
!present_records.json
get_records.py
zotero_harvester_header.conf
unused_scripts/*
create_records_from_dict.py
get_translators_used_internally.py
test.py
test.txt
replacement_regexes.txt
unused_scripts
present_records.json
.idea
statistics_*.txt